<%= link "New post", to: post_path(@conn, :new) %>

<div class="row">
  <div class="col-md-12">
<%= for post <- @posts do %>
  <h2><%= link post.title, to: post_path(@conn, :show, post) %></h2>
  <%= post.content %>
<% end %>
  </div>
</div>
